.alert-profile-container {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(12 12 12 / 30%);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.add-alert-form .form-group {
  margin-bottom: 15px;
}

.add-alert-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.add-alert-form input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.add-alert-form select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.add-alert-form .btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-alert-form .btn-submit:hover {
  background-color: #218838;
}

.error-message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}
