input.error {
  border-color: #ff0000; /* Red border for errors */
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5); /* Subtle red shadow */
}

input:focus {
  border-color: #007bff; /* Blue border on focus */
  outline: none;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background-color: #dfd4d4e5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(12 12 12 / 30%);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #38ce5b;
}

.google-signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.google-signin-btn {
  display: flex;
  align-items: center;
  background-color: #7299d8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.google-signin-btn:hover {
  background-color: #9db4dd;
}
input.error-outline {
  border-color: red;
}

.google-logo {
  width: 25px;
  margin-right: 8px;
}

.new-user-info {
  align-items: center;
  text-align: center;
}

.new-user-info a {
  text-decoration: none;
  font-weight: bold;
}
