<div class="landing-page">
  <h1>Welcome to the Event Tracker!</h1>
  <p>You can use this application to view and search for Windows Event logs easily. Let's get started!!</p>

  <div class="buttons">
    <button class="login-button" type="button" {{on "click" this.redirectToLogin}}>Login</button>
    <button class="register-button" type="button" {{on "click" this.redirectToRegister}}>Register</button>
  </div>
</div>
